@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#root {
    height: 100vh;
    background-color: #2a9d8f;
    font-family: 'Rampart One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drum-machine {
    width: 650px;
    height: auto;
    background-color: #e9c46a;
    border-radius: 15px;
}

#display .display-name {
    letter-spacing: 2px;
}

#display img {
    height: auto;
    border-radius: 20px;
}
/* SingleKey Component*/

.drum-pad {
    width: 30%;
    height: 100px;
    background-color: #e76f51;
    border-radius: 15px;
    cursor: pointer;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    #drum-machine {
        width: 90%;
    }
    .drum-pad {
        width: 30%;
        height: auto;
        padding-top: 25px;
    }
}